///fonts///
$font-primary: "Montserrat";
$font-size: 18px;
$section-title: 32px;
$line-height: 1.7;
$color: #212121;
$font-weight: 500;

///colors///
$white: #fff;
$black: #000;
$grey: #F5F5F5;
$grey-light: #F5F5F5;
$grey-middle: #F9F9F9;
$grey-dark: #C4C4C4;
$grey-page: #F1F1F1;
$brown-color: #EAE8DD;

$primary-color: #FFCC00;
$secondary-color: #003800;
$tertiary-color: #282828;
$modal-color: #808080;
$calculator-color: #F4F4F4;


$bg-style-primary: linear-gradient(90deg, #FEB200 0%, #FFD71D 104.65%);
$bg-style-primary-reverse: linear-gradient(90deg, #FFD71D 0%, #FEB200 104.65%);
$bg-style-secondary: linear-gradient(90deg, #003800 0%, #006F00 104.65%);
$bg-style-secondary-reverse: linear-gradient(90deg, #006F00 0%, #003800 104.65%);
$bg-style-secondary-2: linear-gradient(90deg, #003800 0%, #003800 104.65%);
$bg-style-item: linear-gradient(90deg, #F5F5F5 0%, #F5F5F5 104.65%);
$bg-modal: #F4F1E7;
$bg-footer: linear-gradient(90deg, #003800 0%, #006F00 50.26%, #003800 100%);



/*grey*/
$label-red: #F93838;
$label-purpur: #8683EF;
$label-green: #70D61F;

$required: $primary-color;
$placeholder: #bdbdbd;





/*   <Breadcrumbs/>   */
$breadcrumbs-slash: $secondary-color;
$breadcrumbs-link: $tertiary-color;
$breadcrumbs-link-hover: $primary-color;
$breadcrumbs-last-child: #B2B1B1;

/*   <Muve-top/>   */
$muve-top-background: $primary-color;
$muve-top-color: #fff;

