<header class="header">
	<div class="container">
		<div class="logo-area">
			<div class="logo-holder">
				<a href="index.html" class="logo">
					<img src="./assets/img/logo.svg" class="img-fluid" alt="logo">
				</a>
			</div>
		</div>
		<div class="nav-holder">
			<div class="btn-box">
				<a href="#" class="btn_calc"><span>Калькулятор</span></a>
				<a href="#" class="btn btn-primary btn_pay">Онлайн-оплата</a>
			</div>
			<nav class="nav">
				<ul class="nav__list">
					<li class="nav__item menu-item-has-children">
						<a class="nav-link" href="#">Види залогів</a>
						<ul class="sub-menu">
							<li class="nav__item"><a href="#">Lorem ipsum</a></li>
							<li class="nav__item"><a href="#">Lorem ipsum</a></li>
							<li class="nav__item"><a href="#">Lorem ipsum</a></li>
						</ul>
					</li>
					<li class="nav__item menu-item-has-children">
						<a class="nav-link" href="#">Компанія</a>
						<ul class="sub-menu">
							<li class="nav__item"><a href="#">Lorem ipsum</a></li>
							<li class="nav__item"><a href="#">Lorem ipsum</a></li>
							<li class="nav__item"><a href="#">Lorem ipsum</a></li>
							<li class="nav__item"><a href="#">Lorem ipsum</a></li>
						</ul>
					</li>
					<li class="nav__item menu-item-has-children">
						<a class="nav-link" href="#">Умови</a>
						<ul class="sub-menu">
							<li class="nav__item"><a href="#">Lorem ipsum</a></li>
							<li class="nav__item"><a href="#">Lorem ipsum</a></li>
						</ul>
					</li>
					<li class="nav__item menu-item-has-children">
						<a class="nav-link" href="#">Відділення</a>
						<ul class="sub-menu">
							<li class="nav__item"><a href="#">Харків</a></li>
							<li class="nav__item"><a href="#">Богодухів</a></li>
							<li class="nav__item"><a href="#">Валки</a></li>
							<li class="nav__item"><a href="#">Красноград</a></li>
							<li class="nav__item"><a href="#">Мерефа</a></li>
							<li class="nav__item"><a href="#">Нова Водолага</a></li>
						</ul>
					</li>
					<li class="nav__item menu-item-has-children">
						<a class="nav-link" href="../blog.html">Блог</a>
						<ul class="sub-menu">
							<li class="nav__item"><a href="#">Lorem ipsum</a></li>
							<li class="nav__item"><a href="#">Lorem ipsum</a></li>
							<li class="nav__item"><a href="#">Lorem ipsum</a></li>
							<li class="nav__item"><a href="#">Lorem ipsum</a></li>
							<li class="nav__item"><a href="#">Lorem ipsum</a></li>
							<li class="nav__item"><a href="#">Lorem ipsum</a></li>
							<li class="nav__item"><a href="#">Lorem ipsum</a></li>
							<li class="nav__item"><a href="#">Lorem ipsum</a></li>
						</ul>
					</li>
				</ul>
			</nav>
			<div class="search-holder">
				<div class="form-holder">
					<form action="#" method="get" class="search-form" role="search">
						<input type="search" class="search" name="search" placeholder="Пошук">
						<button class="btn btn-primary btn-submit"><i class="icomoon-search"></i></button>
					</form>
				</div>
				<a href="javascript:void(0);" class="btn_search"></i></a>
			</div>
			<ul class="nav-login">
				<li><a href="#">Log in</a></li>
			</ul>
			<div class="language-bar">
				<div class="language-title">UA</div>
				<ul class="language-list">
					<li class="menu-item"><a href="#">RU</a></li>
					<li class="menu-item active"><a href="#">UA</a></li>
				</ul>
			</div>
		</div>
		<button class="nav-opener js-nav-opener">
			<span></span>
		</button>
	</div>
</header>